<div class="card grey darken-4">
    <div class="card-content white-text">
        <span class="card-title">events</span>
        {% if events|length %}
        <table class="highlight">
            <thead class="red-text"><tr><th>start</th><th>duration</th><th>end</th></tr></thead>
            <tbody>
                {% for event in events %}
                <tr class="event-main" id="main-{{event.id}}">
                    <td> {{ event.get_start_time() }} </td>
                    <td> {{ event.get_duration()   }} </td>
                    <td> {{ event.get_end_time()   }} </td>
                </tr>
                <tr class="event-details event-hidden red-text" id="details-{{event.id}}">
                    <td colspan="3">
                        {% if show_remove %}
                        <div class="valign-wrapper">
                            <div class="col s9">
                                {{ event.text }}
                            </div>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn red white-text col s12 center-align" id="delete-{{event.id}}">
                                    <i class="material-icons">cancel</i>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="col s12">
                            {{ event.text }}
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="padding-top: 1em">no recent events</p>
        {% endif %}
    </div>
    {% if show_more %}
    <div class="card-action">
        <a href="/user/{{ current_user.username }}" class="red-text">all</a>
    </div>
    {% endif %}
</div>

<style>
.event-main {
    border-bottom: inherit !important;
}

.event-details:hover {
    background-color: inherit !important
}

.event-hidden {
    display: none;
}
</style>

<script>
{% for event in events %}
$("#main-{{event.id}}").click(function() {
    $("#details-{{event.id}}").toggleClass("event-hidden");
});
$("#delete-{{event.id}}").click(function() {
    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: '/remove-event',
        data: JSON.stringify({ id: {{event.id}} }),
        success: function (data) {
            console.log(data);
            if (data.success) {
                window.location.href = window.location.href;
            }
        },
        dataType: "json"
    });

});
{% endfor %}
</script>



