<div class="card grey darken-4">
    <div class="card-content">
        <span class="card-title">longest no event streak</span>
        <div class="row" style="margin-top: 20px">
            <p id="no-event-streak-holder" class="col s6"></p>
            <p id="no-event-streak-length" class="col s6 right-align"></p>
        </div>
    </div>
</div>

<script>
var latests = {};
{% for ev in ev_js %}
if ({{ev['end_js']}} < new Date()) {
    if (latests.hasOwnProperty("{{ev['username']}}")) {
        if ({{ev['end_js']}} > latests["{{ev['username']}}"]) {
            latests["{{ev['username']}}"] = {{ev['end_js']}};
        }
    } else {
        latests["{{ev['username']}}"] = {{ev['end_js']}};
    }
}
{% endfor %}
var earliestName = "";
var earliestDate = new Date();
for (var key of Object.keys(latests)) {
    if (latests[key] < earliestDate) {
        earliestName = key;
        earliestDate = latests[key];
    }
}
console.log(earliestName);
console.log(earliestDate);

var length = parseInt(Math.floor((new Date() - earliestDate) / 60000));
var minutes = length % 60;
var hours = parseInt(Math.floor(length / 60));

$('#no-event-streak-holder').html('<b class="red-text">' + earliestName + '</b>');
$('#no-event-streak-length').html('<span class="red-text">' + hours + ':' + minutes.toString().padStart(2, '0') + '</span>');

</script>


