{% extends 'base.html' %}

{% block content %}
<div class="row"><h2 class="center-align red-text">groups</h2></div>
{% if is_a_user %}
<div class="row center-align"><a class="waves-effect waves-light btn red white-text center-align" id="create-group" style="margin-bottom: 20px !important">
        <i class="material-icons left">add</i>create</a>
</div>
<div class="row" style="display: none" id="new-group-div">
    <div class="col s12">
        <div class="card grey darken-4">
            <div class="card-content">
                <span class="card-title">create a group</span>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="name" class="white-text">
                        <label for="name">group name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="password" id="password" class="white-text">
                        <label for="password">join key</label>
                    </div>
                </div>
                <div class="row valign-wrapper">
                    <div class="input-field col s9 m9 l9">
                        <textarea id="description" class="materialize-textarea white-text"></textarea>
                        <label for="description">description</label>
                    </div>
                    <div class="input-field col s3 m3 l3">
                        <a class="waves-effect waves-light btn-large btn-flat red-text col s12" id="submit"><i class="material-icons">send</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if groups|length %}
{% for group in groups %}

<div class="row"><div class="col s12">
    <div class="card grey darken-4">
        <div class="card-content">
            <span class="card-title"> {{ group.name }} </span>
            {% if group.description|length %}
            <p class="red-text" style="padding-top: 1em"> {{ group.description }} </p>
            {% endif %}
        </div>
        {% if is_a_user %}
        <div class="card-action valign-wrapper">
            <a class="red-text" href="#" id="join-{{group.id}}">join</a>
            <div class="input-field" id="verify-{{group.id}}" style="display: none;">
                <input type="password" id="pass-{{group.id}}" class="white-text">
                <label for="password">join key</label>
            </div>
        </div>
        {% endif %}
    </div>
</div></div>

{% endfor %}
{% else %}
<div class="row"><div class="col s12 center-align"><h4 class="white-text">no groups available to join</h4></div></div>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='groups.js') }}"></script>
<script type="text/javascript">
{% for group in groups %}
$('#join-{{group.id}}').click(function() {
    var pw = $('#pass-{{group.id}}');
    if (pw.val() != null && pw.val() != '') {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/join-group',
            data: JSON.stringify({group_name: '{{group.name}}', group_pass: pw.val()}),
            success: function (data) {
                console.log(data);
                if (data.success) {
                    window.location.href = window.location.origin + '/groups';
                }
            },
            dataType: "json"
        });
    } else {
        $('#verify-{{group.id}}').show('fast', function() {});
    }
});
{% endfor %}
</script>
{% endblock %}
